[Unit]
Description=Polystar main script

[Service]
ExecStart=/bin/bash /home/polystar/robomaster-2023-cv/polystar.sh

[Install]
After=network-online.target
Wants=network-online.target
WantedBy=multi-user.target
