<launch>
    <!-- Args -->
    <arg name="workspace" value="$(dirname)"/>

    <!-- Global parameters -->
    <rosparam command="load" file="$(arg workspace)/data/models/icra.yaml"/>

    <!-- Nodes -->
    <include file="$(find decision)/launch/weighted_tracker.launch">
        <arg name="params_path" value="$(arg workspace)/data/param-decision.yaml"/>
    </include>

    <remap from="/serial/target" to="/decision/target"/>
    <include file="$(find serial)/launch/serial.launch">
        <arg name="params_path" value="$(arg workspace)/data/param-serial.yaml"/>
    </include>

    <include file="$(find detection)/launch/detection.launch">
        <arg name="workspace" value="$(arg workspace)"/>
        <arg name="params_path" value="$(arg workspace)/data/param-yolo.yaml"/>
	<arg name="deepstream" value="true"/>
	<arg name="darknet" value="false"/>
    </include>

    <include file="$(find tracking)/launch/tracking.launch"/>

    <!-- For Darknet -->
    <!-- Camera -->
    <!--<remap from="/main_camera/image_raw" to="/detection/image_in"/>-->
    <!--<include file="$(find jetson_camera)/launch/jetson_camera.launch"/>-->

    <include file="$(find locate)/launch/locate.launch">
        <arg name="ekf_config" value="$(arg workspace)/data/param-localization.yaml"/>
        <arg name="robot_dimensions" value="$(arg workspace)/data/models/icra.yaml"/>
        <arg name="robot_model" value="$(arg workspace)/data/models/icra.xml"/>
    </include>

</launch>
